.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 100px;
    margin: 5px;
    padding: 15px;
    border: 1px solid #111111;
    border-radius: 10px;
    line-height: 24px;

    &__content{

    }

    &__buttons{

    }

    &__title{
        font-size: 32px;
        font-weight: bold;
    }

    &__desc{
        font-size: 16px;
    }

    &__cost{
        font-size: 16px;
    }
}